header {
	display: flex;
	padding-left: 50px;
	padding-top: 20px;
	padding-bottom: 20px;
	background-color: #5ddada;
	position: relative;
	img {
		height: 100px;
		width: 100px;
	}
	h1 {
		align-self: center;
		padding-left: 20px;
	}
}

input {
	width: 45vw;
	padding: 20px;
	margin-bottom: 30px;
	margin-top: 5px;
	font-size: 18px;
	transition: 0.5s;
}
input:hover {
	box-shadow: 3px 3px 5px 5px rgba(128, 128, 128, 0.699);
}

label {
	font-size: 20px;
	align-self: flex-start;
	margin-left: 27%;
}

.form {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-left: 30px;
	padding-top: 30px;
	padding-bottom: 25px;
	background-color: #e9b32f;
	position: relative;
}

button {
	font-size: 20px;
	margin-top: 30px;
	width: 15vw;
	padding: 15px;
	border-radius: 15px;
	transition: 0.3s;
}
button:hover {
	background-color: rgb(221, 221, 221);
}

p {
	font-size: 33px;
}

#buttons {
	display: flex;
	gap: 50px;
}

#backToMain {
	font-size: 24px;
	text-decoration: none;
	padding: 15px;
	background-color: aliceblue;
	outline: solid black 1px;
	left: 50px;
	top: 50px;
	position: absolute;
	border-radius: 15px;
	transition: 0.3s;
}
#backToMain:hover {
	background-color: rgb(211, 211, 211);
	border-radius: 5px;
}

.anim.caption {
	transform: translateX(-20%);
	transition: 1s;
	opacity: 0;
}

.anim.caption.active {
	transform: translateX(0);
	opacity: 1;
}
